@import url(https://fonts.googleapis.com/css?family=Roboto:300);




/* Table Styles */

.table-wrapper{
   
    box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 );
    display: flex;
    align-items: center;
    justify-content: center;

}

.fl-table {
    border-radius: 5px;
    font-size: 22px;
    font-weight: normal;
    border: none;
    border-collapse: collapse;
    width: 100%;
    max-width: 100%;
    white-space: nowrap;
    background-color: white;
    
}

.fl-table td, .fl-table th {
    text-align: center;
    padding: 8px;
    border: 1px solid #7159c1;
}

.fl-table td {
    border-right: 1px solid #f8f8f8;
    font-size: 22px;
}



.fl-table thead th {
    
    color: #ffffff;
    background: #4FC3A1;
    
}


.fl-table thead th:nth-child(odd) {
    color: #ffffff;
    background: #324960;

    
    
}

.fl-table tr:nth-child(even) {
    background: #F8F8F8;
    
}

.fl-table tbody tr td {
    color:#7159c1;
}

.top{
    margin: 3rem auto 2rem -14.6em;    
    display: flex;
    align-items: center;
    justify-content:space-between;
    width: 197.35%;

}
.top-{
   margin: 10rem 0px 0px 0px;
}
  .top  a {
    height: 3.2rem;
    transition: opacity 0.2s;
    
  }
  .top  a:hover {
    opacity: 0.6;
  }
  
  .top > img {
    height: 1.6rem;
  }
  
  .logout {
    width: 3%;
    
  
}



